body{
    width: 960px;
    margin: 0px auto;
}


header{
    margin-top: 2em;
    clear: right;
}

header h1{
    font-family: 'Indie Flower', cursive;
}

#hImage{
    text-align: left;
}

#hImage h1 {
    position: relative;
    top: -90px;;
    right: -120px;
}

nav ul li a{
    text-decoration: none;
}

nav ul li{
    width: 20%;
    height: auto;
    list-style: none;
    float: left;
    clear: right;
    position: relative;
    top: -90px;
    left: -40px;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    padding-left: 5px;
    background-color: gray;
    font-weight: 200;

}

main {
    position: relative;
    top: -60px;
}

main div img{
    float: left;
    margin-right: 10px;
    border: groove;
    border-color: black;
}


footer {
    position: relative;
    top: -50px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    text-align: center;
    clear: both;
}

nav li{
    width: 20%;
    float: left;
    border-style: double;
    position: relative;
    top: -90px;

}

#jokes {
    display: inline;
    clear: both;
}
